@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1f1f1f;
    color: white;
    font-family: "Inter", sans-serif;
}

button,
.button {
    all: unset;
    display: inline-block;
    padding: 0.5rem;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;

    &.primary {
        background-color: blue;
    }

    &.secondary {
        border: 2px solid blue;
    }
}

h1,
.title {
    font-size: 2rem;
    color: white;
    font-weight: bold;
}
