---
import BaseLayout from "@layouts/BaseLayout.astro";
import ModItem from "@components/ModItem.astro";
import { getCollection } from "astro:content";

const mods = (await getCollection("mods")).sort(({ data: a }, { data: b }) =>
    a.title.localeCompare(b.title),
);
---

<BaseLayout title="Low-Power SMP Catalogue">
    <div class="downloadButtons">
        <a class="button primary" href="/mods/lpsmp-optional-mods.zip" download>Optional Mods</a>
        </div>

    <div class="mods">
        {mods.map((mod) => <ModItem showTags={true} {mod} />)}
    </div>
</BaseLayout>

<style>
    .mods {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .downloadButtons {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-block: 0.5rem;
    }
</style>
